@import url('https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic');

#root {
  max-width: 1024px;
  height: 600px;
  overflow: auto;
  margin: 0 auto; /* centers the container horizontally */
  text-align: center;
}

.App {

  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  display: flex;
  flex-direction: row;
  
  width: 1024px;
  height: 600px;
  overflow: hidden;
  margin: 0 auto; /* centers the container horizontally */

}


.ZeldaContainer {

  flex: 5;

  overflow: hidden;

  z-index: 2;
  background-color: #000;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  /* border-top-right-radius: 5rem;
  border-bottom-left-radius: 5rem; */
}

.Zelda {
  overflow: hidden;
  text-align: center; /* horizontally center the image */
  display: flex; /* vertically center the image */
  justify-content: center; /* vertically center the image */
  align-items: center; /* vertically center the image */
  width: 35rem;
  height: 35rem;
}

.ZeldaImage {
  width: 40rem;
  height: 40rem;
}

.DialogContainer {
  flex: 5;
  height: 100%;
  width: 25rem;

  display: flex;
  flex-direction: column;
}


.RecordButtonContainer {
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Transcript {
  height: 100%;
  /* make this text color gradient */
  background: -webkit-linear-gradient(#00A99A, #61CE97);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* border: 1px solid #fff; */
}

.Dialogs {
  flex:8;
  overflow: hidden;
  /* border: 1px solid #fff; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-inline: 1rem;
}

.DialogShadow {
  height: 10rem;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  z-index: 5;
  position: absolute;
  top: 0;
  width: 100%;
}

.Dialogs div{
  font-family: 'Roboto';
  font-size: 1.5rem;
  padding: 0.8rem;
  /* border: 1px solid #fff; */
}

.UserDialog {
  text-align: right;
  margin-left: 6rem;
  background: -webkit-linear-gradient(#00A99A, #61CE97);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ZeldaDialog {
  text-align: left;
  font-weight: bold;
  margin-right: 6rem;
  background: -webkit-linear-gradient(#F8C481, #FCE091);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Transcript img {
  margin-inline: 1rem;
  height: 6rem;
  pointer-events: none;
  margin-bottom: 1rem;
}

.RecordButton {
  margin-inline: 1.5rem;
  color: white;
  border-radius: 50%;
  font-size: 2rem;
  padding: 1.5rem;
  border: none;
  outline: none;
  height: 5rem;
  width: 5rem;
  margin-bottom: 1rem;
}


/* put nameprompt at the center of screen */
.NamePrompt {
  background-color: #1B1B44;
  width: fit-content;
  padding: 1rem;
  border-radius: 1rem;
  margin: 0 auto;
}


.MicrophoneContainer {
  display: none;
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
}

